body{
    background-image: url('leaves.png');
    min-width: 100vw;
    min-height: 100vh;
}

.modal-box{
    width: 100vw;
    height: 100vh;
    z-index: 1000000000000;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#registration-modal{
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    z-index: 1000000000001;
}

#registration-form-group{
    max-width: 300px;
}

.registration-input {
    margin: 2px;
}

#login-head{
    margin: 1px;
}

#register-head{
    margin: 1px;
}

#dropdown-menu{
    padding: 5px;
}

.table{
    display: table;
    width: auto;
    border-spacing: 10px;
}

.table-row{
    display: table-row;
    width: auto;
    height: 8vw;
}

#calendar-header{
    height: auto;
}

.table-cell{
    padding: 10px;
    display:table-cell;
    border: solid black 2px;
    border-radius: 5px;
    width: 15vw;
    min-width: 90px;
    height: auto;
    background-color: rgba(248,248,248, 0.5)
}

.card{
    background-color: white;
    height: auto;
}

.card-body{
    height: auto;
}

.hidden{
    display: none;
}

li.nav-element {
    height: 50px;
}

.btn.btn-default {
    margin-top: 5px;
}

.btn.btn-default.navbar-btn {
    height: 100%;
    margin: 0;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    border-radius: 0;
}

.btn.btn-default.navbar-btn:hover {
    background-color: #d7d7d7;
}

.cal-header {
    font-size: 20pt;
}